<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二个模板</title>
</head>
<body>
<!--{{stu_list}}-->
<table border="1px">
    <tr>
        <td>序号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
    </tr>
    {% for stu_key,stu in stu_list.items() %}

        <tr>
            <td>{{loop.index}},Key:{{stu_key}}</td>
            <td>{{stu.name}}</td><!--由于stu是字典，有三种写法得到key的value-->
            {% if stu.age>=60 %}
                <td>已退休</td>
            {% elif stu.age >=18%}
                <td>成年人</td>
            {% else %}
                <td>未成年</td>
            {% endif %}
<!--            <td>{{stu.get('age')}}</td>-->
            <td>{{stu['gender']}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>